trained_model
data_last256
model_file*
new_BERT
data
tmp
checkpoint
*.pkl
*.h5
*.hdf5
*checkpoint*
*file*
model_files*
*cache*
__pycache__
data_cleanning-checkpoint.ipynb
.ipynb_checkpoints
.ipynb
.DS_Store
fine_tuned_model
uncased_L-12_H-768_A-12
